<div class="izquierda">
    <a class="logo" href="/">
        <img src="/images/logo.png" alt="icono" />
        <span>DoctorClick</span>
    </a>
    <div class="enlaces">
        <a href="/" th:classappend="${seccion=='indice'} ? ' activo' : ''">Inicio</a>
        <a href="/paciente/citas/pedir" th:classappend="${seccion=='pedir'} ? ' activo' : ''">Pedir cita</a>
        <a href="/paciente/citas" th:classappend="${seccion=='citas'} ? ' activo' : ''">Citas programadas</a>
        <a href="/paciente/citasPasadas" th:classappend="${seccion=='citasPasadas'} ? ' activo' : ''">Citas pasadas</a>
    </div>
</div>
<div class="derecha">
    <a href="/paciente/miperfil">Mi perfil</a>
    <a href="/auth/logout">Cerrar sesion</a>
</div>