<div class="izquierda">
    <a class="logo" href="/">
        <img src="/images/logo.png" alt="icono" />
        <span>DoctorClick</span>
    </a>
    <div class="enlaces">
        <a href="/" th:classappend="${seccion=='indice'} ? ' activo' : ''">Inicio</a>
        <a href="/paciente/citas/pedir" th:classappend="${seccion=='pedir'} ? ' activo' : ''">Pedir cita</a>
        <a href="/paciente/citas" th:classappend="${seccion=='citas'} ? ' activo' : ''">Citas programadas</a>
        <a href="/paciente/citasPasadas" th:classappend="${seccion=='citasPasadas'} ? ' activo' : ''">Citas pasadas</a>
    </div>
</div>
<div class="derecha">
    <a href="/paciente/miperfil" class="perfilDerecho">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 7.001c0 3.865-3.134 7-7 7s-7-3.135-7-7c0-3.867 3.134-7.001 7-7.001s7 3.134 7 7.001zm-1.598 7.18c-1.506 1.137-3.374 1.82-5.402 1.82-2.03 0-3.899-.685-5.407-1.822-4.072 1.793-6.593 7.376-6.593 9.821h24c0-2.423-2.6-8.006-6.598-9.819z"/></svg>
        <span>Tu perfil</span>
    </a>
    <a href="/auth/logout">
        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M11 21h8v-2l1-1v4h-9v2l-10-3v-18l10-3v2h9v5l-1-1v-3h-8v18zm10.053-9l-3.293-3.293.707-.707 4.5 4.5-4.5 4.5-.707-.707 3.293-3.293h-9.053v-1h9.053z"/></svg>
    </a>
</div>