<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="${_csrf.token}">
    <title layout:fragment="titulo"></title>
    <link rel="stylesheet" th:href="@{/css/headerFooter.css}" />
    <link rel="icon" href="/images/logo.PNG">
</head>

<body>
    <header>
        <h1>DoctorClick</h1>
    </header>
    <main layout:fragment="content">
    </main>
    <footer>
        <h1>DOCTORCLICK</h1>
        <p id="rights">2025-2026 DoctorClick Corp. Todos los derechos reservados</p>
        <div class="info">
            <p>Telefono de contacto <strong>+34 943 59 31 50</strong></p>
            <p>Correo electrónico <strong>doctorclick@gmail.com</strong></p>
            <p>Ubicacion <strong>Av. Los Pinos 2384, Nueva Esperanza, San Matías, Terranova del Sur</strong></p>
        </div>
    </footer>
</body>

</html>