<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{general/plantilla.html}">

<head>
    <title layout:fragment="titulo">Login | DoctorClick</title>
    <link rel="stylesheet" href="/css/loginRegistro.css">
</head>

    <main layout:fragment="content">
        <div th:if="${param.error}">Usuario o contraseña inválidos.</div>
        <div th:if="${param.logout}">Se ha cerrado la sesión.</div>
        <form th:action="@{/api/auth/login}" method="post">
            <h1>Iniciar sesión</h1>
            <input type="hidden" name="_csrf" value="${_csrf.token}"> <!-- Token CSRF generado por Spring -->
            <input type="text" id="username" name="username" placeholder="DNI" required>
            <input type="password" id="password" name="password" placeholder="Contraseña" required>
            <div class="tipoPaciente">
                <label for="usuario">Iniciar sesión como:</label>
                <select id="usuario" name="usuario">
                    <option value="paciente">Paciente</option>
                    <option value="medico">Médico</option>
                </select>
            </div>
            <button type="submit" id="enviar">Iniciar sesión</button>
            <br>
            <div class="nota">
                <span>¿Es tu primera vez aquí?</span>
                <a href="/auth/registro">Registrate aquí</a>
            </div>
        </form>
        <script src="/js/login.js"></script>
    </main>

</html>