<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{general/plantilla.html}">

<head>
    <title layout:fragment="titulo">Registro | DoctorClick</title>
    <link rel="stylesheet" href="/css/loginRegistro.css">
</head>

<main layout:fragment="content">
        <form id="formulario" method="post" th:action="@{/api/auth/registro}">
            <h1>Formulario de registro</h1>
            <input type="hidden" name="_csrf" value="${_csrf.token}"> <!-- Token CSRF generado por Spring -->
            <input type="text" id="nombre" name="nombre" placeholder="Tu nombre" required>
            <input type="text" id="apellidos" name="apellidos" placeholder="Tus dos apellidos" required>
            <input type="password" id="contrasena" name="contrasena" placeholder="Una contraseña" required>
            <input type="text" id="dni" name="dni" placeholder="Tu DNI">
            <div class="tipoPaciente">
                <label for="tipo">Registrarse como: </label>
                <select id="tipo" name="tipo">
                    <option value="medico">Médico</option>
                    <option value="paciente">Paciente</option>
                </select>
            </div>
            <div id="especialidadParent" class="tipoPaciente">
                <label for="especialidad">Especialidad: </label>
                <select id="especialidad" name="especialidad">
                    <option value="cardiologia">Cardiología</option>
                    <option value="neurologia">Neurología</option>
                    <option value="oncologia">Oncología</option>
                    <option value="pediatria">Pediatria</option>
                    <option value="psiquiatria">Psiquiatria</option>
                </select>
            </div>
            <button type="submit" id="enviar">Registrarse</button>
        </form>
    <script src="/js/registro.js"></script>
</main>

</html>