<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{general/plantilla.html}">

<head>
    <title layout:fragment="titulo">Medico | DoctorClick</title>
    <link rel="stylesheet" href="/css/bento.css">
</head>

<main layout:fragment="content">
    <div>
        <div class="grid">
            <a class="item item-0" href="/medico/citas">
                <img src="/images/calendario.png"/>
                <span>Citas programadas</span>
            </a>
            <a class="item item-1" href="/medico/citasPasadas">
                <img src="/images/calendario2.png"/>
                <span>Citas pasadas</span>
            </a>
            <a class="item item-2" href="/medico/perfil">
                <img src="/images/perfil.png"/>
                <span>Tu perfil</span>
            </a>
        </div>
    </div>
</main>

</html>