<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{general/plantilla.html}">

<head>
    <title layout:fragment="titulo">Ver citas pasadas | DoctorClick</title>
    <link rel="stylesheet" href="/css/verCitasPasadasPaciente.css">

</head>
<main layout:fragment="content">
    <div id="datos" data-tipo-cuenta="${tipoCuenta}" data-seccion="${seccion}"></div>
    <div>
        <table>
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Paciente</th>
                <th>Especialidad</th>
                <th>Resumen</th>
                <th>ID</th>
            </tr>
            </thead>
            <tbody id="tabla-citas"></tbody>
        </table>
    </div>
    <script src="/js/medico/verCitasPasadas.js"></script>

</main>

</html>