body{
    margin:0;
    font-family: "Calisto MT", serif;
    display: grid;
    min-height: 100dvh;
    grid-template-rows:
        auto 1fr auto;
}

header{
    background-color: #065591;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

footer{
    justify-content: center;
    background-color: #065591;
    color: #ffffff;
}

h1{
    text-align: center;
}

#rights{
    text-align: center;
    margin:40px;
}

.info{
    display: flex;
    justify-content: center;
    gap:50px;
}