.contenido {
    margin-top: 30px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-width: 350px;
}

form h1 {
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

form input {
    border: 1px solid black;
    border-radius: 5px;
    min-width: 200px;

    font-size: 14px;

    width: 100%;
    padding: 5px 20px 5px 5px;

    margin-bottom: 5px;
}

form > .registroEspecialidad {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

form button {
    padding: 5px 10px;
    color: white;
    background-color: var(--acento);
    border-radius: 5px;
    font-size:13px;
    font-weight: bold;
    margin-bottom: 5px;

    transition: all .2s linear;
}

form button:hover {
    opacity: .9;
    cursor:pointer;
}

form > .nota {
    font-size: 12px;
    width: 100%;
    text-align: center;
}

form > .nota > a {
    color: var(--acento);
    text-decoration: underline;
}

.esconder {
    display: none !important;
}

form input.error, form textarea.error {
    border-color: red;
    border-width: 2px;
    color: red;
}

#especialidadParent.error, #tipoUsuario.error {
    color: red;
}

form .mensajeError {
    background-color: red;
    color: white;
    display: flex;
    align-items:center;
    padding: 5px;
    gap:5px;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 350px;
}

form .mensajeError > svg {
    width: 30px;
    height: 30px;
    fill: white;
}

.tipoUsuario {
    width: 100%;
    display: flex;
    gap: 10px;
    margin: 5px 0;
}

.tipoUsuario > div {
    flex: 1;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid black;
}

.tipoUsuario > div.activo {
    font-weight: bold;
    border-color: var(--acento);
    color: var(--acento);
    background-color: #e8f7ff;
    cursor: default;
}

.tipoUsuario > div:not(.activo) {
    opacity: .8;
    background-color: #f7f7f7;
    cursor: pointer;
}

.tipoUsuarioHint {
    opacity: .5;
    font-size: 10px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}