.calendario, .sugerenciaCalendario {
    width: 100%;
    display: none;
}

.sugerenciaCalendario {
    padding: 10px 0;
    text-align: center;
    color: white;
    background: #065591;
}

.calendario.mostrar, .sugerenciaCalendario.mostrar {
    display: block;
}

.dias {
    display: flex;
    width: 100%;
    border-collapse: collapse;
}

.dias > .dia {
    background: #b8d9f2;
    flex: 1;
    margin: 0;
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
}

.dias > .dia > .titulo {
    background: #065591;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 2px 0;
}

.dias > .dia > .horas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
}

.dias > .dia > .horas > .hora {
    margin: 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}

.dias > .dia > .noHoras {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    padding: 10px;
}

.navegadorCalendario {
    width: 100%;
    display:flex;
    justify-content: space-between;
}

.navegadorCalendario > button {

}