<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{headerFooter.html}">

<head>
    <title layout:fragment="titulo">Cita Detallada | DoctorClick</title>
    <link rel="stylesheet" href="/css/citaDetalladaMedico.css">

</head>

    <main layout:fragment="content">
        <nav>
            <a href="/medico/citas">Volver</a>
        </nav>
        <div>
            <table>
            <tr>
                <td class="fecha" th:text="${cita.fecha}"></td> <!-- Formato de hora -->
                <td th:text="${cita.medico.nombre}"></td>
                <td th:text="${cita.especialidad}"></td>
                <td th:text="${cita.resumen}"></td>
                <td id="idCita" th:text="${cita.id}"></td> <!-- Ahora tiene id="idCita" -->
            </tr>
            </table>
        </div>
        <button>Modificar</button>
        <button id="cancelar">Cancelar</button>
        <script src="/js/citaDetalladaMedico.js"></script>
    </main>

</html>