<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Cita | DoctorClick</title>
</head>
<body>
    <header>
        <h1>Pantalla creación cita</h1>
    </header>
    <fieldset>
        <legend>Introduzca los datos</legend>
        <label for="especialidad">Especialidad</label>
        <select id="especialidad" name="especialidad">
            <option value="cardiologia">Cardiología</option>
            <option value="neurologia">Neurología</option>
            <option value="oncologia">Oncología</option>
            <option value="pediatria">Pediatria</option>
            <option value="psiquiatria">Psiquiatria</option>
        </select>
        <br>
        <label for="hora">Horario</label>
        <select id="hora" name="hora">
        </select>
        <br>
        <input type="submit" id="Crear Cita" value="Crear Cita">
    </fieldset>
</body>
</html>