<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Log in | DoctorClick</title>
</head>

<body>
    <header>
        <h1>Pantalla login</h1>
    </header>
    <main>
        <div th:if="${param.error}">Usuario o contraseña inválidos.</div>
        <div th:if="${param.logout}">Se ha cerrado la sesión.</div>
        <fieldset>
            <form th:action="@{/login}" method="post">
                <label for="nombre">Nombre de usuario</label>
                <input type="text" id="nombre" name="username" required>
                <br>
                <label for="contrasena">Contrasena</label>
                <input type="password" id="contrasena" name="password" required>
                <br>
                <label for="usuario">Iniciar sesión como:</label>
                <select id="usuario">
                    <option value="paciente">Paciente</option>
                    <option value="medico">Médico</option>
                </select>
                <br>
                <button type="submit">Iniciar sesión</button>
                <br>
                <p>¿Es tu primera vez aquí?
                <p>
                    <a href="registro.html">Registrate aquí</a>
            </form>
        </fieldset>
    </main>
    <footer>
        <p>Esto es el footer</p>
    </footer>
</body>

</html>