<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="${_csrf.token}">
    <title>Log in | DoctorClick</title>
</head>

<body>
    <header>
        <h1>Pantalla login</h1>
    </header>
    <main>
        <div th:if="${param.error}">Usuario o contraseña inválidos.</div>
        <div th:if="${param.logout}">Se ha cerrado la sesión.</div>
        <fieldset>
            <form th:action="@{/login}" method="post">
                <input type="hidden" name="_csrf" value="${_csrf.token}"> <!-- Token CSRF generado por Spring -->

                <label for="username">Nombre de usuario</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="password">Contrasena</label>
                <input type="password" id="password" name="password" required>
                <br>
                <label for="usuario">Iniciar sesión como:</label>
                <select id="usuario" name="usuario">
                    <option value="paciente">Paciente</option>
                    <option value="medico">Médico</option>
                </select>
                <br>
                <button type="submit" id="enviar">Iniciar sesión</button>
                <br>
                <p>¿Es tu primera vez aquí?
                <p>
                    <a href="/registro">Registrate aquí</a>
            </form>
        </fieldset>
    </main>
    <footer>
        <p>Esto es el footer</p>
    </footer>
    <script src="/js/login.js"></script>
</body>

</html>