<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{headerFooter.html}">

<head>
    <title layout:fragment="titulo">Paciente | DoctorClick</title>
</head>

<main layout:fragment="content">
    <nav>
        <a href="/paciente/citas/pedir">Pedir cita</a>
        <a href="/paciente/citas/">Ver futuras citas</a>
        <a href="/paciente/citasPasadas/">Ver citas pasadas</a>
        <a href="/auth/logout">Cerrar sesión</a>
    </nav>
</main>

</html>