<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Crear Cita | DoctorClick</title>
    <style>
        * {
            margin: 5px
        }
    </style>
</head>

<body>
    <header>
        <h1>Pide tu cita aquí</h1>
    </header>
    <main>
        <fieldset>
            <legend>Introduzca los datos</legend>
            <form action="/paciente/pedirCita" method="post" th:action="@{/pedirCita}">
                <input type="hidden" name="_csrf" value="${_csrf.token}"> <!-- Token CSRF generado por Spring -->

                <label for="medicoEspecialidad">Especialidad</label>
                <select id="medicoEspecialidad" name="especialidad">
                    <option th:each="par : ${especialidades}" th:value="${par.idMedico}" th:text="${par.nombreVisual}"></option>
                </select>
                <br>
                <label for="fecha">Introduzca el día de la cita</label>
                <input type="date" id="fecha" name="fecha">
                <br>
                <label for="hora">Introduzca la hora de la cita</label>
                <input type="time" id="hora" name="hora">
                <br>
                <label for="resumen">Escribe aqui la información básica sobre la cita</label>
                <br>
                <textarea id="resumen" name="resumen"></textarea>
                <br>
                <input type="submit" id="enviar" value="Pedir cita">
            </form>
        </fieldset>
    </main>
    <footer>
        <p>Esto es el footer</p>
    </footer>
    <script src="/js/pedirCita.js"></script>
</body>

</html>