<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/pedirCita.css" />
    <title>Crear Cita | DoctorClick</title>
    <style>
        * {
            margin: 5px
        }
    </style>
</head>

<body>
    <header>
        <h1>Pide tu cita aquí</h1>
    </header>
    <main>
        <fieldset>
            <legend>Introduzca los datos</legend>
            <form action="/paciente/pedirCita" method="post" th:action="@{/pedirCita}">
                <input type="hidden" name="_csrf" value="${_csrf.token}"> <!-- Token CSRF generado por Spring -->

                <fieldset>
                    <legend>Especialidad, medico y fecha</legend>
                    <label for="medicoEspecialidad">Especialidad</label>
                    <label for="medicoEspecialidad">Especialidad</label>
                    <select id="medicoEspecialidad" name="especialidad">
                        <option th:each="par : ${especialidades}" th:value="${par.idMedico}" th:text="${par.nombreVisual}"></option>
                    </select>
                    <br>

                    <div class="dias">
                        <div class="dia">
                            <div class="titulo">15/04/2025, Martes</div>
                            <div class="horas">
                                <div class="hora">
                                    <span>16:10</span>
                                    <input type="radio" name="franja" />
                                </div>
                                <div class="hora">
                                    <span>16:20</span>
                                    <input type="radio" name="franja" />
                                </div>
                                <div class="hora">
                                    <span>16:30</span>
                                    <input type="radio" name="franja" />
                                </div>
                                <div class="hora">
                                    <span>16:40</span>
                                    <input type="radio" name="franja" />
                                </div>
                                <div class="hora">
                                    <span>16:50</span>
                                    <input type="radio" name="franja" />
                                </div>
                            </div>
                        </div>
                        <div class="dia">
                            <div class="titulo">16/04/2025, Miercoles</div>
                            <div class="horas">
                                <div class="hora">
                                    <span>16:10</span>
                                    <input type="radio" name="franja" />
                                </div>
                                <div class="hora">
                                    <span>16:20</span>
                                    <input type="radio" name="franja" />
                                </div>
                                <div class="hora">
                                    <span>16:30</span>
                                    <input type="radio" name="franja" />
                                </div>
                                <div class="hora">
                                    <span>16:40</span>
                                    <input type="radio" name="franja" />
                                </div>
                                <div class="hora">
                                    <span>16:50</span>
                                    <input type="radio" name="franja" />
                                </div>
                            </div>
                        </div>
                        <div class="dia">
                            <div class="titulo">17/04/2025, Jueves</div>
                            <div class="horas">
                                <div class="hora">
                                    <span>16:10</span>
                                    <input type="radio" name="franja" />
                                </div>
                                <div class="hora">
                                    <span>16:20</span>
                                    <input type="radio" name="franja" />
                                </div>
                                <div class="hora">
                                    <span>16:30</span>
                                    <input type="radio" name="franja" />
                                </div>
                                <div class="hora ocupada">
                                    <span>16:40</span>
                                    <input type="radio" name="franja" disabled />
                                </div>
                                <div class="hora">
                                    <span>16:50</span>
                                    <input type="radio" name="franja" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navegadorCalendario">
                        <button type="button" name="izquierda" disabled>&lt;&lt; Dias previos</button>
                        <button type="button" name="derecha">Dias siguientes &gt;&gt;</button>
                    </div>
                </fieldset>

                <label for="resumen">Escribe aqui la información básica sobre la cita</label>
                <br>
                <textarea id="resumen" name="resumen"></textarea>
                <br>
                <input type="submit" id="enviar" value="Pedir cita">
            </form>
        </fieldset>
    </main>
    <footer>
        <p>Esto es el footer</p>
    </footer>
    <script src="/js/pedirCita.js"></script>
</body>

</html>