<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{headerFooter.html}">

<head>
    <title layout:fragment="titulo">Mis Citas | DoctorClick</title>

    <script src='/js/externo/FullCalendar/fullcalendar@6.1.17.min.js'></script>
    <script src='/js/externo/FullCalendar/es.global.min.js'></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
            let eventos = [
                /*[# th:each="cita : ${citas}"]*/
                    {
                        title: "Cita con " + [[${cita.paciente.nombre}]],
                        start: [[${cita.fecha}]],
                        url: "/medico/citas/" + [[${cita.id}]],
                        end: new Date(new Date([[${cita.fecha}]]).getTime() + [[${citasDuracionMinutos}]] * 60000),
                     },
                /*[/]*/
            ]
        /*]]>*/
    </script>
    <script src="/js/verCitasMedico.js"></script>
</head>
    <main layout:fragment="content">
        <nav>
            <a href="/medico/">Volver</a>
        </nav>
        <div style="width:1050px;height:862px;margin:auto;font-family:Arial;">
            <div id='calendar'></div>
        </div>
    </main>

</html>