<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ver Citas</title>
  <script defer src="/js/verCitas.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div>
    <h1>Mis Citas</h1>
    <table>
      <thead>
        <tr>
          <th class="border p-2">Fecha</th>
          <th class="border p-2">Hora</th>
          <th class="border p-2">Medico</th>
          <th class="border p-2">Especialidad</th>
          <th class="border p-2">Resumen</th>
        </tr>
      </thead>
      <tbody id="citasTableBody">
          <tr><td class="text-center p-4">Cargando...</td></tr>
      </tbody>
    </table>
  </div>
</body>
</html>
