<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{headerFooter.html}">

<head>
    <title layout:fragment="titulo">Mis Citas | DoctorClick</title>
</head>

    <main layout:fragment="content">

        <nav>
            <a href="/medico/">Volver</a>
        </nav>
        <table id="tabla">
            <tr>
                <th>Fecha</th>
                <th>Medico</th>
                <th>Especialidad</th>
                <th>Resumen</th>
            </tr>
            <tr th:each="cita : ${citas}">
                <td class="fecha" th:text="${cita.fecha}"></td> <!-- Formato de hora -->
                <td th:text="${cita.medico.nombre}"></td>
                <td th:text="${cita.especialidad}"></td>
                <td th:text="${cita.resumen}"></td>
            </tr>
        </table>
        <script src="/js/verCitasMedico.js"></script>
    </main>

</html>