<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{general/plantilla.html}">

<head>
    <title layout:fragment="titulo">Crear cita | DoctorClick</title>
    <link rel="stylesheet" href="/css/pedirCita.css" />
</head>

<main layout:fragment="content">
    <h1>Pide tu cita aquí</h1>
    <nav>
        <a href="/paciente/">Volver</a>
    </nav>

    <fieldset>
        <legend>Introduzca los datos</legend>
        <form id="formulario" autocomplete="off">
            <input type="hidden" name="_csrf" value="${_csrf.token}"> <!-- Token CSRF generado por Spring -->

            <fieldset>
                <legend>Especialidad, medico y fecha</legend>
                <label for="medicoEspecialidad">Especialidad</label>
                <select id="medicoEspecialidad" name="especialidad">
                    <option value="-1" selected>-- SELECCIONA UNO --</option>
                    <option th:each="par : ${especialidades}" th:value="${par.idMedico}" th:text="${par.nombreVisual}">
                    </option>
                </select>
                <br>

                <div class="calendario" id="calendario">
                    <div class="dias" id="dias">
                    </div>
                    <div class="navegadorCalendario">
                        <button type="button" id="calendarioIzquierda" disabled>&lt;&lt; Dias previos</button>
                        <button type="button" id="calendarioDerecha">Dias siguientes &gt;&gt;</button>
                    </div>
                </div>

                <div class="sugerenciaCalendario mostrar" id="sugerencia-calendario">
                    Elige una especialidad y medico.
                </div>

            </fieldset>

            <label for="razon">Escribe aqui la razon de la cita</label>
            <br>
            <textarea id="razon" name="razon"></textarea>
            <br>
            <input type="submit" id="enviar" value="Pedir cita">
        </form>
    </fieldset>
    <script src="/js/pedirCita.js"></script>
</main>